<% about ||= nil %>
<footer class="footer place-footer">
  <% if about.present? %>
    <span class="footer-el"><a href="/">home</a></span>
    <span class="footer-el" style="margin-left: 50px;"><a href="mailto:getoutofnyc@gmail.com?subject=Hello">contact</a></span>
  <% else %>
    <!-- <span class="footer-el"><a href="/about">The best flight to a beach. Fresh daily.</a></span> -->
    <a href="/about">
      <span class="footer-el">Get Out of NYC is closed for the season.</span>
      <br>
      <span class="footer-el">We'll be back next winter.</span>
    </a>
  <% end %>
</footer>
