<footer class="footer <%= "#{@trip.code.downcase}-footer" %>">
  <span class="footer-el"><a href="/about">about</a></span>
  <span class="footer-el" style="margin-left: 50px;"><a href="mailto:getoutofnyc@gmail.com?subject=Hello">contact</a></span>
</footer>
