<% about ||= nil %>
<footer class="footer place-footer">
  <% if 1 < 0 %>
    <span class="footer-el"><a href="/">home</a></span>
    <span class="footer-el" style="margin-left: 50px;"><a href="mailto:getoutofnyc@gmail.com?subject=Hello">contact</a></span>
  <% else %>
    <a href="/about">
      <span class="footer-el">Get Out of NYC <a href="https://www.instagram.com/getoutofnewyork/">@getoutofnewyork</a></span>
    </a>
  <% end %>
</footer>
