<% about ||= nil %>
<footer class="footer place-footer">
  <% if about.present? %>
    <span class="footer-el"><a href="/">home</a></span>
    <span class="footer-el" style="margin-left: 50px;"><a href="mailto:getoutofnyc@gmail.com?subject=Hello">contact</a></span>
  <% else %>
    <span class="footer-el"><a href="/about">The best flight to a beach. Fresh daily.</a></span>
  <% end %>
</footer>
