<footer class="footer <%= "#{@featured_trip.destination_code.downcase}-footer" %>">
  <a href="/about">about</a>
  <a href="mailto:getoutofnyc@gmail.com?subject=Hello" style="padding-left: 50px;">contact</a>
</footer>
