<style>
  a, a:link, a:visited {
    text-decoration: none;
    color: #4f4f4f;
  }
  .about-wrap {
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 100;
  }
</style>

<div class="about-wrap">
  <div class="about">
    <div><span class="title">Get Out of NYC</span> shows you the best flight to the best beach today. Every flight is direct, over a long weekend in the next six weeks. Every location has Airbnb and VRBO places nearby. Every temperature is current. Seats are limited.
    </div>
  </div>
</div>

<%= render partial: 'footer', locals: {about: true} %>