<style>
  .edit {
    font-weight: bold;
    font-size: 2rem;
    text-shadow:  2px 2px 0px white;
  }
  .link {
    padding: 20px;
    font-weight: bold;
    font-size: 2rem;
    text-shadow:  2px 2px 0px white;
  }
</style>

<h1 class="edit">Edit Trip</h1>

<%= render 'form', trip: @trip %>

<div class="link">
  <%= link_to 'Back', oj_path %>
</div>

