<% if 1 < 0 %>
<link rel="stylesheet" href="app.css" type="text/css" />
<%
    featured_trip_code = @trip.code.downcase
    @price = "$#{sprintf("%.0f", @trip.price)}"
    @departure_date = "#{@trip.departure.strftime('%B').downcase} #{@trip.departure.strftime('%e').downcase}"
    @return_date = @trip.return.strftime('%e')
    @return_date.prepend("#{@trip.return.strftime('%B').downcase} ") if @trip.return.strftime('%B') != @trip.departure.strftime('%B')
%>
<div class="container">
  <div class="<%= featured_trip_code %>-details">
    <%= erb :"destinations/_#{featured_trip_code}" %>
  </div>
</div>

<%= erb :_footer %>
<% end %>