<head>
  <title>GetOutOf.NYC</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5b8cd5">
  <meta name="theme-color" content="#ffffff">
  <style>
    .background-image {
      background-image: url("<%= @featured_trip ? "#{@featured_trip.destination_code.downcase}.jpg" : '' %>");
      background-size: cover;
    }
  </style>
</head>
<body class="<%= 'background-image' if @featured_trip %>">
  <%= yield %>
</body>