/* line 1, /getoutofnyc-rails/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  margin: 33px;
}

/* line 9, /getoutofnyc-rails/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  margin: 33px;
}

/* line 15, /getoutofnyc-rails/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /getoutofnyc-rails/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /getoutofnyc-rails/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /getoutofnyc-rails/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 34, /getoutofnyc-rails/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 38, /getoutofnyc-rails/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 45, /getoutofnyc-rails/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 50, /getoutofnyc-rails/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 54, /getoutofnyc-rails/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 60, /getoutofnyc-rails/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 68, /getoutofnyc-rails/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 79, /getoutofnyc-rails/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 85, /getoutofnyc-rails/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 6, /getoutofnyc-rails/app/assets/stylesheets/trips.scss */
.row {
  padding-top: 10px;
}

/* line 9, /getoutofnyc-rails/app/assets/stylesheets/trips.scss */
.body {
  padding-left: 20px;
  padding-top: 5px;
  font-family: monospace;
}

/* line 14, /getoutofnyc-rails/app/assets/stylesheets/trips.scss */
.refresh {
  margin-bottom: 20px;
}

/* line 17, /getoutofnyc-rails/app/assets/stylesheets/trips.scss */
.flightsTable {
  border-collapse: collapse;
  color: #000;
  font-size: 18px;
  text-align: left;
  width: 1000px;
}

/* line 24, /getoutofnyc-rails/app/assets/stylesheets/trips.scss */
.flightsTable th {
  background-color: #BDB76B;
  color: white;
}

/* line 28, /getoutofnyc-rails/app/assets/stylesheets/trips.scss */
.trueRow {
  background-color: #FFFFE0;
}

/* line 31, /getoutofnyc-rails/app/assets/stylesheets/trips.scss */
.falseRow {
  background-color: #FFF;
}

/* line 34, /getoutofnyc-rails/app/assets/stylesheets/trips.scss */
.featuredRow {
  background-color: #10c4b5;
}

/* line 37, /getoutofnyc-rails/app/assets/stylesheets/trips.scss */
.flightsTable td, .flightsTable th {
  padding: 10px;
  border: 0;
}

/* line 41, /getoutofnyc-rails/app/assets/stylesheets/trips.scss */
.flightsTable td {
  border-bottom: 1px dotted #BDB76B;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* app.css */
/* line 20, /getoutofnyc-rails/app/assets/stylesheets/application.scss */
a, a:link, a:visited, a:hover {
  text-decoration: none;
  color: #4f4f4f;
  background-color: transparent;
}

/* line 26, /getoutofnyc-rails/app/assets/stylesheets/application.scss */
.container {
  position: relative;
  min-height: 100%;
  font-family: monospace;
  letter-spacing: 2.5px;
  font-size: 350%;
  font-weight: 100;
}

@media screen and (max-width: 950px) {
  background-color: rgba(255, 255, 225, 0.4);
  padding: 2px;
}
/* line 40, /getoutofnyc-rails/app/assets/stylesheets/application.scss */
.cun-details {
  float: right;
  padding-right: 15%;
  padding-top: 35%;
}

/* line 45, /getoutofnyc-rails/app/assets/stylesheets/application.scss */
.stt-details {
  float: right;
  padding-right: 15%;
  padding-top: 20%;
}

/* line 50, /getoutofnyc-rails/app/assets/stylesheets/application.scss */
.pos-details {
  top: 590px;
  right: 100px;
  position: absolute;
  font-size: 90%;
}

/* line 57, /getoutofnyc-rails/app/assets/stylesheets/application.scss */
.footer {
  font-family: monospace;
  letter-spacing: 1.25px;
  font-size: 250%;
  font-weight: 100;
}

/* line 64, /getoutofnyc-rails/app/assets/stylesheets/application.scss */
.stt-footer {
  position: absolute;
  bottom: 15px;
}

/* line 69, /getoutofnyc-rails/app/assets/stylesheets/application.scss */
.pos-footer {
  position: absolute;
  bottom: 15px;
}

/* line 74, /getoutofnyc-rails/app/assets/stylesheets/application.scss */
.cun-footer {
  right: 200;
}
