<style>
  a, a:link, a:visited {
    text-decoration: none;
    color: #4f4f4f;
  }
</style>

<div style="font-family: Helvetica, Arial, Sans-Serif; font-weight: 100;">
  <div style="margin: 75px; font-size: xx-large;">
    <h1>GET OUT OF NYC</h1>
    <div>
      shows you the best flight to the best beach today. Every flight is direct, over a long weekend in the next six weeks. Every place has Airbnb and VRBO spots nearby. Every temperature is current. Seats are limited.
    </div>
  </div>
</div>
<footer style="position: absolute; bottom: 25; padding-left: 5%; font-family: Helvetica, Arial, Sans-Serif; letter-spacing: 1.25px; font-size: 200%; font-weight: 100;">
  <a href="/">home</a>
  <a href="mailto:getoutofnyc@gmail.com?subject=Hello" style="padding-left: 50px;">contact</a>
</footer>