<style>
  a, a:link, a:visited, a:hover {
    text-decoration: none;
    color: white !important;
  }
</style>

<a href="<%= @trip.url %>" target="_blank">
  <div class="line">
    <%= @trip.name.downcase %><span>&nbsp;78&deg;F</span>
  </div>
  <div  class="line">
    <%= @price %>
    <%= @dates %>
  </div>
</a>
