<style>
  a, a:link, a:visited {
    text-decoration: none;
    color: #4f4f4f;
  }
</style>

<a href="<%= @trip.url %>" target="_blank">
  <div>
    <span class="detail">
      <%= @trip.name.downcase %><span>&nbsp;78&deg;F</span>
    </span>
  </div>
  <div style="margin-top: 5px;">
    <span class="detail">
      <%= @price %>
    </span>
    <span class="detail">
      <%= @dates %>
    </span>
  </div>
</a>
