<a href="<%= @trip.url %>" target="_blank">
  <div>
    <%= @trip.name %><span>&nbsp;82&deg;F</span>
  </div>
  <div style="margin-top: 2px;">
    trinidad and tobago
  </div>
  <div style="margin-top: 2px;">
    <span>
      <%= @price %>
    </span>
    <span>
      <%= @dates %>
    </span>
  </div>
</a>
