<a href="<%= @trip.url %>" target="_blank">
  <div class="line">
    <%= @trip.name %><span>&nbsp;82&deg;F</span>
  </div>
  <div class="line" style="letter-spacing: 1px;">
    trinidad and tobago
  </div>
  <div class="line">
    <span>
      <%= @price %>
    </span>
    <span>
      <%= @dates %>
    </span>
  </div>
</a>
