/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* app.css */
div#bg {
    opacity: 1;
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
  color: #4f4f4f;
  background-color: transparent;
}

.container {
  position: relative;
  min-height: 100%;
  font-family: monospace;
  font-size: 3.5em;
  font-weight: 100;
}

@media screen and (max-width: 700px) {
  .container {
    letter-spacing: 1.5px;
    font-size: 2.5em;
  }
  .about {
    margin: 50px;
    font-size: large;
  }
  .pos-details, .cun-details, .stt-details, .anu-details, .bze-details {
    font-size: 0.5em;
  }
  .line {
    margin-top: 0.2em;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .footer {
    font-family: Helvetica, Arial, Sans-Serif;
    letter-spacing: 1.25px;
    font-size: 150%;
    font-weight: 100;
  }
  .footer-el {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

@media screen and (min-width: 701px) {
  .container {
    letter-spacing: 2.5px;
  }
  .about {
    margin: 75px;
    font-size: xx-large;
  }
  .cun-details {
    float: right;
    padding-right: 10%;
    padding-top: 35%;
    min-width: 45%;
  }
  .stt-details {
    float: right;
    padding-right: 10%;
    padding-top: 20%;
    min-width: 45%;
  }
  .pos-details {
    top: 590px;
    right: 100px;
    position: absolute;
    font-size: 0.9em;
  }
  .anu-details {
    float: right;
    padding-right: 10%;
    padding-top: 35%;
    min-width: 45%;
  }
  .bze-details {
    float: right;
    padding-right: 10%;
    min-width: 45%;
  }

  .footer {
    font-family: monospace;
    letter-spacing: 1.25px;
    font-size: 250%;
    font-weight: 100;
  }
}

.place-footer {
  position: absolute;
  bottom: 15px;
}