// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Admin page
.row {
  padding-top: 10px;
}
.body {
  padding-left: 20px;
  padding-top: 5px;
  font-family: monospace;
}
.refresh {
  margin-bottom: 20px;
}
.flightsTable {
  border-collapse: collapse;
  color: #000;
  font-size: 18px;
  text-align: left;
  width: 1000px;
}
.flightsTable th {
  background-color: #000;
  color: white;
}
.trueRow {
  background-color: #f2f7f2;
}
.falseRow {
  background-color: #FFF;
}
.featuredRow {
  font-weight: bold;
  background-color: #f7dcd7;
  line-height: 35px;
}
.flightsTable td, .flightsTable th {
  padding: 10px;
  border: 0;
}
.flightsTable td {
  border-bottom: 1px dotted #000;
}